.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  
}

.App {
  background-color: #dfe2e7;
  font-size: 1.5rem;
  color: rgb(36, 33, 33);
}

.nav-news {
    width: 100%;
    position: fixed!important;
    display: flex;
    z-index: 1000;
}

.sidebar {
  background-image: url("backlight-keyboard-886x590.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  width: 430px;
  height: 100%;
  position: fixed;
  background-color: #f5f5f5;
  flex:1;
  opacity: 0.8;

}

.main-content {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.Article {
  padding: 30px 0;
  
}

 .Story, .Story_container {
  display: flex;
  align-items: center;
}

.Story {
  position:relative;
  margin-left: 500px;
  font-size: 14px;
  padding: 20px 16px 20px 0;
  margin-right: 150px;
  min-height: 40px;
  flex-wrap: wrap;
}

.Story:first-child {
  margin-top: 50px;
}

.Story_data {
  margin: 4px 0;
}

.Story_data a {
  text-decoration: none!important;
}

.Story_title {
  width: 100%;
  position: relative;
  margin-bottom: 4px;
  color: #333337;
  font-size: 1.4rem;
  
}

.Story_title:hover {
  color: #e0351f;
  transition: all 400ms;
}


.Story_meta, .Story_meta a {
  color: #696969;
  margin-top: 20px;
}

.Story_meta {
  font-size: 15px;
}

.Story_separator {
  margin: 0 5px;
  color: #696969;
}

.todo-list {
  max-width: 1200px;
  padding: 5px;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.completebutton {
  margin-left: 20px;
  border-radius: 5px;
}
.Story::before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 85%;  /* or 100px */
  border-bottom:1px solid rgb(73, 71, 73);
}

@media only screen and (max-width: 1190px ) {
	.sidebar {
    width: 300px;
  }
  .Story {
    margin-right: 25px;
    margin-left: 350px;
  }
  .pre-container
{
    margin-left: 300px;
}
}

@media only screen and (max-width: 780px ) {
	.sidebar {
    width: 300px;
  }
  .Story {
    margin-right: 25px;
    margin-left: 350px;
  }
  .pre-container
{
    margin-left: 300px;
}
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .Story {
    display: flex;
    margin-left: 20px;
  }
  .pre-container
  {
    display: flex;
    margin-left: 0;
  }
}

.input{
  display: flex;
}
